@model _56_Xeber.Areas.Admin.Models.News
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <section class="bg-dark">
        <div class="container-fluid">
            <div class="container">
                <div class="row justify-content-center align-content-center vh-100">
                    <div class="col-12 col-sm-8 col-md-6 bg-light py-2 rounded shadow">
                        <div class="col-12">
                            <h3 class="text-right  d-block border-bottom border-dark">Yeni Xəbər</h3>
                        </div>
                        <div class="col-12">
                            <form class="form-group" action="@Url.Action("Create")" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                @Html.LabelFor(model => model.Title_az, "Xəbər Başlığı Az:", htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Title_az, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Xəbər başlığını daxil edin..." } })
                                @Html.LabelFor(model => model.Text_az, "Xəbər Mətni Az:", htmlAttributes: new { @class = "col-form-label" })
                                @Html.TextAreaFor(model => model.Text_az, htmlAttributes: new { @class = "form-control", rows = "4", placeholder = "Xəbərin mətnini əlavə edin..." })
                                @Html.LabelFor(model => model.Title_ru, "Xəbər Başlığı Ru:", htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Title_ru, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Xəbər başlığını daxil edin..." } })
                                @Html.LabelFor(model => model.Text_ru, "Xəbər Mətni Ru:", htmlAttributes: new { @class = "col-form-label" })
                                @Html.TextAreaFor(model => model.Text_ru, htmlAttributes: new { @class = "form-control", rows = "4", placeholder = "Xəbərin mətnini əlavə edin..." })
                                @Html.LabelFor(model => model.CategoryId, "Xəbərin kateqoriyasını seçin:", htmlAttributes: new { @class = "col-form-label d-inline-block" })
                                @Html.DropDownListFor(model => model.CategoryId, null, new { htmlAttributes = new { @class = "form-control" } })
                                <div class="custom-control custom-switch d-inline-block ml-3">
                                    <input type="checkbox" name="Hot" class="custom-control-input" id="customSwitches" value="true">
                                    <label class="custom-control-label" for="customSwitches">Önəmli Xəbər</label>
                                </div>
                                @Html.LabelFor(model => model.Video, "Youtube sonluğunu daxil edin:", htmlAttributes: new { @class = "col-form-label" })
                                @Html.EditorFor(model => model.Video, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Youtube/watch?v=nNEjXCSnw6w ==>> 'nNEjXCSnw6w'" } })
                                <div class="custom-file d-inline-block mt-2">
                                    <input type="file" class="custom-file-input" name="files" id="Images" multiple="multiple">
                                    <label class="custom-file-label" data-browse="Seçin..." for="Images">Şəkil və ya şəkilləri</label>
                                </div>
                                <button class="btn btn-dark mt-2" type="submit">Yarat</button>
                                <a class="btn btn-outline-dark mt-2" href="@Url.Action("Index")">Ləğv</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


